.header_container {
	display: block;
	height: var(--header-height);
}

.header {
	--transition-speed: 500ms;

	position: fixed;
	top: 0;

	display: flex;
	justify-content: space-between;

	background-color: var(--dark-50);
	backdrop-filter: var(--blur);
	box-shadow: var(--shadow);

	width: 100%;
	max-height: 100vh;

	padding: var(--l);

	transition-duration: var(--transition-speed);
}

.scrolled_header {
	background: var(--light-05);

	padding: var(--m) var(--l);
}

.nav_container {
	padding-top: 0;
	transition-duration: var(--transition-speed);
}

.scrolled_header .nav_container {
	padding-top: var(--xs);
}

.title {
	display: flex;
	flex-direction: column;
}

.caption {
	margin-left: 1.5px;
}

.hidden {
	animation: fadeout var(--transition-speed) ease-in-out both;
}

.visible {
	animation: fadein var(--transition-speed) ease-in-out both;
}

@keyframes fadeout {
	from {
		opacity: 1;
		max-height: var(--header-caption-height);
	}

	50% {
		opacity: 0;
		max-height: var(--header-caption-height);
	}

	to {
		opacity: 0;
		max-height: 0px;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		max-height: 0px;
	}

	50% {
		opacity: 0;
		max-height: var(--header-caption-height);
	}

	to {
		opacity: 1;
		max-height: var(--header-caption-height);
	}
}
