.my_stack {
	--gap: var(--xl);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);

	width: 100%;
	max-height: calc(var(--page-height) + var(--xl));

	z-index: -1;
}

.stack {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap);

	width: 100%;
	height: 100%;
}

.row {
	position: relative;

	display: flex;
	justify-content: center;
	gap: var(--gap);

	width: 100%;
}

.row_label {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--light-05);

	height: 100%;
}

.row_label_text {
	font-size: calc(0.15 * var(--breakpoint-xxl));
	line-height: 0;

	filter: blur(calc(0.0085 * var(--breakpoint-xxl)));

	padding-top: calc(0.01 * var(--breakpoint-xxl));
}

/* extra large screens */
@media screen and (max-width: var(--breakpoint-xxl)) {
	.row_label_text {
		font-size: 15vw;

		filter: blur(0.85vw);

		padding-top: 1vw;
	}
}

/* large screens */
@media screen and (max-width: var(--breakpoint-xl)) {
}

/* small screens */
@media screen and (max-width: var(--breakpoint-l)) {
}

/* tablets */
@media screen and (max-width: var(--breakpoint-m)) {
}

/* phones */
@media screen and (max-width: var(--breakpoint-s)) {
}

/* small phones */
@media screen and (max-width: var(--breakpoint-xs)) {
}
