.card {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: var(--m);

	background: var(--gray-dark);
	border-radius: var(--border-radius);

	padding: calc(var(--m) + var(--s)) var(--m);
}

.card h2 {
	font-weight: var(--font-weight-bold);
}

.card h4 {
	font-weight: var(--font-weight-light);
}
