.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding: 0 var(--xxxl) 0;
}

.about section:not(.intro_container):not(.stack) {
	padding: var(--xxl) 0;
}

.about h3 {
	font-weight: var(--font-weight-regular);
	line-height: 1.5;
}

.intro_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--xl);

	padding: var(--xxl) 0 var(--xl);
}

.intro_headline {
	line-height: 1.2;
}

.intro_tagline {
	display: flex;
	flex-direction: column;
	gap: var(--xs);
}

.intro_tagline h2 {
	font-style: italic;
}

.intro_tagline h4 {
	color: var(--gray);
}

.intro_tagline * {
	font-weight: var(--font-weight-light);
}

.portrait_container {
	display: grid;
	grid-template-columns: 2fr 1fr;

	width: 100%;
}

.portrait {
	object-fit: cover;
	object-position: top;

	width: 100%;
	padding-right: var(--m);
}

.portrait_text {
	position: sticky;
	top: 55vh;

	height: fit-content;

	padding-top: var(--xxs);

	z-index: -1;
}

.text_break {
	line-height: 1.2;
}

.pillars {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--xxxl);
}

.pillar_title {
	font-weight: var(--font-weight-light);
}

.stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--m);
}

.stack_headline {
	margin-bottom: var(--m);
}

.stack_row {
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	align-items: center;
	gap: var(--xl);

	background-color: var(--gray-dark);
	border-radius: calc(var(--border-radius) * 2);

	width: 100%;

	padding: var(--s) var(--xxl);
}

.stack_item {
	display: flex;
	justify-content: center;
	gap: var(--s);
}

/* .stack table {
	display: flex;
	flex-direction: column;
	gap: var(--l);

	padding: var(--xl) 0;
}

.stack thead {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stack tbody {
	display: flex;
	flex-direction: column;
	gap: var(--m);
}

.stack tbody tr {
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	gap: var(--xxxl);

	background-color: var(--light-10);
	border-radius: calc(var(--border-radius) * 2);

	padding: var(--l) var(--xxxl);
}

.stack .stack th {
	text-transform: uppercase;
}

.stack th,
.stack td {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--m);
} */

/* .about_bio {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: var(--m);
	margin-top: var(--s);
	gap: var(--m);
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--l);
	width: 100%;
	padding: var(--l);
}

.skills_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--l);
}

.skills_section h2 {
	text-align: center;
	border-bottom: 1px solid var(--light);
	width: 240px;
	padding: var(--s);
}

.skills_sub_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--l);
	width: 100%;
}

.skills_icon_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--s);
	text-align: center;
	width: 70px;
}

.skills_icon {
	width: var(--badge-size);
} */

/* large screens */
@media screen and (max-width: var(--breakpoint-xxl)) {
	.about_bio h2:first_of_type {
		margin-bottom: 0px;
	}
}

/* medium screens */
@media screen and (max-width: var(--breakpoint-xl)) {
	.about {
		flex-direction: column;
		align-items: center;
		padding: var(--m);
	}

	.portrait {
		height: 45vh;
		width: 100%;
		object-position: 0vh -20vh;
		padding-right: 0px;
	}

	.about_bio {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 0px;
		margin-top: var(--l);
	}

	.button_block {
		justify-content: center;
		flex-wrap: wrap;
	}
}

/* small screens */
@media screen and (max-width: var(--breakpoint-l)) {
	.portrait {
		object-position: 0vh -15vh;
	}
}

/* tablets */
@media screen and (max-width: var(--breakpoint-m)) {
	.portrait {
		object-position: top;
	}
}

/* phones */
@media screen and (max-width: var(--breakpoint-s)) {
	.about {
		padding: var(--s);
	}

	.portrait {
		height: 35vh;
	}
}
