.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1500px;
	padding: var(--m);
}

.portrait {
	object-fit: cover;
	object-position: top;
	width: 50%;
	padding-right: var(--m);
}

.about_bio {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: var(--m);
	margin-top: var(--s);
	gap: var(--m);
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--l);
	width: 100%;
	padding: var(--l);
}

.skills_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--l);
}

.skills_section h2 {
	text-align: center;
	border-bottom: 1px solid var(--light);
	width: 240px;
	padding: var(--s);
}

.skills_sub_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--l);
	width: 100%;
}

.skills_icon_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--s);
	text-align: center;
	width: 70px;
}

.skills_icon {
	width: var(--badge-size);
}

/* large screens */
@media screen and (max-width: var(--breakpoint-xxl)) {
	.about_bio h2:first_of_type {
		margin-bottom: 0px;
	}
}

/* medium screens */
@media screen and (max-width: var(--breakpoint-xl)) {
	.about {
		flex-direction: column;
		align-items: center;
		padding: var(--m);
	}

	.portrait {
		height: 45vh;
		width: 100%;
		object-position: 0vh -20vh;
		padding-right: 0px;
	}

	.about_bio {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 0px;
		margin-top: var(--l);
	}

	.button_block {
		justify-content: center;
		flex-wrap: wrap;
	}
}

/* small screens */
@media screen and (max-width: var(--breakpoint-l)) {
	.portrait {
		object-position: 0vh -15vh;
	}
}

/* tablets */
@media screen and (max-width: var(--breakpoint-m)) {
	.portrait {
		object-position: top;
	}
}

/* phones */
@media screen and (max-width: var(--breakpoint-s)) {
	.about {
		padding: var(--s);
	}

	.portrait {
		height: 35vh;
	}
}
