/* utility classes */
.hidden {
    display: none;
}

/* global styles */
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
    color: var(--light);
}

a {
    opacity: 0.75;
}

a:hover {
    opacity: 1;
}

.button {
    opacity: 1;
}

/* page styles */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 2000px;
}

.page-title {
    text-align: center;
}

button {
    border: 1px solid var(--light);
    border-radius: 3px;
    background: none;
    color: var(--light);
    min-width: 150px;
    padding: var(--small) var(--medium);
}

button:hover {
    cursor: pointer;
    background: var(--light);
    color: var(--dark);
}

.icon {
    width: 32px;
}

.icon:hover+.icon-description-right {
    max-width: 160px;
    margin-right: var(--small);
}

.icon:hover+.icon-description-left {
    max-width: 160px;
    margin-left: var(--small);
}

.icon-link-right,
.icon-link-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link-left {
    flex-direction: row-reverse;
}

.icon-description-right,
.icon-description-left {
    max-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.75;
}

.icon-description-right {
    margin-left: var(--small);
}

.icon-description-left {
    margin-right: var(--small);
    direction: rtl;
}

/* sticky */
.sticky-container {
    width: 100%;
}

.sticky-spacer-small {
    height: 10vh;
}

.sticky-spacer-medium {
    height: 20vh;
}

.sticky-spacer-large {
    height: 100vh;
}

/* tablets */
@media screen and (max-width: 768px) {

    .page {
        margin-top: var(--huge);
    }

}