/* global styles */
.body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   background: var(--background);
   color: var(--light);
}

a {
   opacity: 0.5;
}

a:hover {
   opacity: 1;
}

/* page styles */
.page {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.page-title {
   text-align: center;
}

button {
    border: 1px solid var(--light);
    border-radius: 3px;
    background: none;
    color: var(--light);
    min-width: 150px;
    padding: var(--small) var(--medium);
}

button:hover {
    cursor: pointer;
    background: var(--light);
    color: var(--dark);
}

/* sticky spacers */
.sticky-spacer-small {
    height: 10vh;
}

.sticky-spacer-medium {
    height: 20vh;
}

.sticky-spacer-large {
    height: 50vh;
}