@import '../styles';

:root {
	--page-height: calc(100vh - var(--scrolled-header-height));
}

body {
	background-color: var(--dark);

	color: var(--gray-light);

	transition: color 0ms;
}

figcaption {
	display: none;
}

/* extra large screens */
@media screen and (max-width: var(--breakpoint-xxl)) {
}

/* large screens */
@media screen and (max-width: var(--breakpoint-xl)) {
}

/* small screens */
@media screen and (max-width: var(--breakpoint-l)) {
}

/* tablets */
@media screen and (max-width: var(--breakpoint-m)) {
}

/* phones */
@media screen and (max-width: var(--breakpoint-s)) {
}

/* small phones */
@media screen and (max-width: var(--breakpoint-xs)) {
}
