.component_code_block {
  width: 100%;
  height: fit-content;
  min-height: 36px;

  padding: 4px 40px 4px 12px;

  overflow-x: hidden;
  overflow-y: scroll;
}

.component_code_block pre {
  margin: 0 !important;
  background-color: transparent !important;
}

.copy_button_container {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;

  border-radius: calc(var(--radius) - 2px);

  aspect-ratio: 1;

  width: 100%;
  height: 100%;
  max-width: 44px;
  max-height: 44px;

  padding: 4px;

  overflow: hidden;
}

.copy_button {
  border-radius: calc(var(--radius) - 2px);

  aspect-ratio: 1;

  max-width: 100%;
  max-height: 100%;
}
