/* universal */
* {
    width: 100%;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--light);
    line-height: 1.2;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
}

/* variants */
:root {
    --light: white;
    --light2: #CCE5FF;
    --light3: #FFE5CC;
    --dark: black;
    --dark2: #001A33;
    --dark3: #331900;
    --accent: rgb(221, 197, 197);
    --shadow: rgba(0, 0, 0, 0.2);
}

/* fonts */
h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

/* animations */
@keyframes fade {
    from {opacity: 0; display: none;}
    1% {opacity: 0; display: flex;}
    to {opacity: 1; display: flex;}
}

/* body */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--dark);
    padding: 60px;
    height: 100vh;
}

.hidden {
    display: none;
}

/* header */
header {
    display: flex;
}

#headline {
    display: flex;
    flex-direction: column;
}

#title {
    margin-left: 2px;
}

/* navigation */
nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: auto;
    height: fit-content;
}

#menuItems {
    display: flex;
}

nav label {
    margin-left: 30px;
    opacity: 0.5;
}

nav label:hover {
    cursor: pointer;
    opacity: 1;
}

nav input:checked + .navItem {
    opacity: 1;
}

nav input {
    display: none;
}

nav a {
    text-decoration: none;
    margin-left: 30px;
    opacity: 0.5;
}

nav a:hover {
    opacity: 1;
}

#menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0px auto;
    opacity: 0.5;
}

/* footer */
aside {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
}

aside p {
    width: auto;
    opacity: 0.5;
}

aside a {
    width: auto;
    text-decoration: none;
    opacity: 0.5;
}

aside a:hover {
    opacity: 1;
}

.spacer {
    width: 30px;
}

/* main page */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

/* about */
#aboutContent {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

#about img {
    width: 50%;
}

#bio {
    width: 50%;
    margin: 0px 30px;
}

/* work */
#work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

#work a {
    width: 100%;
    max-width: 1200px;
    box-shadow: 0px 0px 10px var(--shadow);
    margin-top: 20px;
}




/* tablets */
@media screen and (max-width: 992px) {

    body {
        padding: 40px;
    }

}

/* large phones */
@media screen and (max-width: 768px) {

    body {
        padding: 20px;
    }

    header {
        flex-direction: column;
    }

    nav {
        overflow: hidden;
    }

    #menuItems {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 70px 20px 20px 20px;
        background-color: rgba(136, 136, 136, 0.75);
        backdrop-filter: blur(20px);
    }

    nav label {
        margin-left: 0px;
        margin-bottom: 20px;
        font-size: 2.4em;
        z-index: 2;
    }

    nav a {
        margin-left: 0px;
        font-size: 2.4em;
        z-index: 2;
    }

    #menuIcon {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        opacity: 1;
    }

    #menuIcon-left {
        font-size: 2.4em;
    }

    #menuIcon-right {
        font-size: 2.4em;
    }

    .menu-icon-left-x {
        transform: rotate(20deg);
    }

    .menu-icon-right-x {
        transform: rotate(-65deg) translate(-4px, -10px);
    }

    aside {
        display: none;
        justify-content: flex-end;
        flex-wrap: wrap;
        text-align: right;
        z-index: 2;
    }

    aside p {
        font-size: 1.5em;
        margin-left: 10px;
        line-height: 2;
    }

    aside a {
        font-size: 1.5em;
        margin-left: 10px;
        line-height: 2;
    }

    .spacer {
        width: 0px;
    }

}

/* small phones */
@media screen and (max-width: 576px) {

}