/* universal */
* {
    width: 100%;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark);
    line-height: 1;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
}

/* variants */
:root {
    --light: white;
    --dark: rgb(54, 54, 54);
    --accent: lightblue;
}

/* fonts */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25;
}

p {
    line-height: 1.25;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background: var(--dark);
}

#title {
    display: flex;
    background: var(--accent);
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    padding: 10px 10px 0px 150px;
    margin: 20px 0px;
}

nav {
    display: flex;
    width: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
}

nav a {
    width: auto;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--accent);
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
    padding: 5px;
    margin-left: 40px;
}

nav a:hover {
    opacity: 50%;
}

/* splash image banner */
.banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: flex-end;
}

.banner img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#subtitle {
    background-color: var(--accent);
    padding: 10px 15px 10px 15px;
    width: auto;
    height: auto;
    position: relative;
    color: var(--dark);
    bottom: 100px;
    right: 150px;
}

/* all of main page */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 150px;
    max-width: 1800px;
}

/* sections */
.section {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.section-label {
    display: flex;
    width: 500px;
    min-height: 150px;
    justify-content: flex-end;
    border-right: 3px solid var(--dark);
    padding-right: 20px;
    margin: 10px 30px 0px 0px;
}

/* content */
#bio {
    margin-top: 10px;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hero {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--accent);
    height: 410px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

#hero img {
    height: 400px;
    object-fit: cover;
    opacity: 75%;
}

.sub-work {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--accent);
    width: 48%;
    height: 210px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.sub-work img {
    height: 200px;
    object-fit: cover;
    opacity: 75%;
}

#work img:hover {
    opacity: 100%;
}

.work-title {
    background-color: var(--accent);
    padding: 10px 15px 10px 15px;
    width: auto;
    position: relative;
    bottom: 100px;
}

#contact {
    margin-bottom: 50px;
}

#contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact-info a {
    display: flex;
    width: auto;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
    border-bottom: 2px solid var(--dark);
    padding: 5px;
    margin: 10px;
}

#contact-info a:hover {
    opacity: 50%;
}

/* contact section adjustment */
@media screen and (max-width: 1200px) {
    #contact-info {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
    }
}

#contact-info a {
    margin: 10px 0px;
}

/* small screens */
@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
        background: var(--dark);
        align-items: center;
    }

    #title {
        display: flex;
        background: var(--accent);
        width: 95%;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        margin: 20px 0px 0px 0px;
    }

    nav {
        display: flex;
        width: 400px;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
    }

    nav a {
        margin-left: 0px;
    }

    .banner {
        justify-content: center;
    }

    #subtitle {
        right: 0px;
    }

    main {
        padding-right: 50px;
    }

    .section-label {
        width: 325px;
    }
    
}

/* tablets */
@media screen and (max-width: 992px) {
    main {
        padding-right: 20px;
    }

    .section-label {
        width: 300px;
    }

    h1 {
        font-size: 3em;
    }

    #contact-info a {
        font-size: 1.25em;
    }
}

/* large phones */
@media screen and (max-width: 768px) {
    main {
        padding: 30px;
    }

    nav {
        justify-content: space-evenly;
        width: 100%;
    }

    .section {
        flex-direction: column;
        margin-top: 30px;
    }
    
    .section-label {
        width: 100%;
        min-height: 0px;
        justify-content: center;
        border-right: 0px solid var(--dark);
        padding-right: 0px;
        border-bottom: 2px solid var(--dark);
        padding-bottom: 10px;
    }

    #bio {
        margin: 0px;
        padding: 20px;
    }

    #contact {
        margin-bottom: 0px;
    }

    #contact-info {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    #contact-info a {
        margin: 10px 0px;
    }
}

/* small phones */
@media screen and (max-width: 576px) {
    main {
        padding: 20px;
    }
}