.badge_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--s);
	text-align: center;
	width: 70px;
}

.badge {
	width: var(--badge-size);
}
