.fade_up {
	animation: fade-up calc(2 * var(--transition-speed)) ease-out both;
}

@keyframes fade-up {
	from {
		transform: translateY(var(--xl));
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
