@layer colors, sizes, fonts, borders, shadows, icons, animations;

@layer colors {
	:root {
		--light: hsl(var(--base-color-light), 100%);
		--light-95: hsla(var(--base-color-light), 100%, 0.95);
		--light-90: hsla(var(--base-color-light), 100%, 0.9);
		--light-75: hsla(var(--base-color-light), 100%, 0.75);
		--light-50: hsla(var(--base-color-light), 100%, 0.5);
		--light-25: hsla(var(--base-color-light), 100%, 0.25);
		--light-10: hsla(var(--base-color-light), 100%, 0.1);
		--light-05: hsla(var(--base-color-light), 100%, 0.05);

		--gray-light: hsl(var(--base-color-dark), 92.5%);
		--gray: hsl(var(--base-color-dark), 50%);
		--gray-dark: hsl(var(--base-color-dark), 7.5%);

		--dark: hsl(var(--base-color-dark), 0%);
		--dark-95: hsla(var(--base-color-dark), 0%, 0.95);
		--dark-90: hsla(var(--base-color-dark), 0%, 0.9);
		--dark-75: hsla(var(--base-color-dark), 0%, 0.75);
		--dark-50: hsla(var(--base-color-dark), 0%, 0.5);
		--dark-25: hsla(var(--base-color-dark), 0%, 0.25);
		--dark-10: hsla(var(--base-color-dark), 0%, 0.1);
		--dark-05: hsla(var(--base-color-dark), 0%, 0.05);

		--accent: hsl(var(--base-color-accent));
		--accent-95: hsla(var(--base-color-accent), 0.95);
		--accent-90: hsla(var(--base-color-accent), 0.9);
		--accent-75: hsla(var(--base-color-accent), 0.75);
		--accent-50: hsla(var(--base-color-accent), 0.5);
		--accent-25: hsla(var(--base-color-accent), 0.25);
		--accent-10: hsla(var(--base-color-accent), 0.1);
		--accent-05: hsla(var(--base-color-accent), 0.05);
	}
}

@layer sizes {
	:root {
		--xxxs: calc(var(--base-size) / 6);
		--xxs: calc(var(--base-size) / 4);
		--xs: calc(var(--base-size) / 3);
		--s: calc(var(--base-size) / 2);
		--m: var(--base-size);
		--l: calc(var(--base-size) * 2);
		--xl: calc(var(--base-size) * 3);
		--xxl: calc(var(--base-size) * 4);
		--xxxl: calc(var(--base-size) * 6);
	}
}

@layer fonts {
	:root {
		--font-size-xs: calc(var(--font-size) * 0.9);
		--font-size-s: var(--font-size);
		--font-size-m: calc(var(--font-size) * 1.2);
		--font-size-l: calc(var(--font-size) * 1.8);
		--font-size-xl: calc(var(--font-size) * 3.6);
	}
}

@layer borders {
	:root {
		--border: var(--border-width) var(--border-style) var(--border-color);
	}
}

@layer shadows {
	:root {
		--shadow: var(--xxxs) var(--xxs) var(--shadow-blur) var(--shadow-color);
	}
}

@layer animations {
	:root {
		--transition-property: all;
		--transition-duration: var(--transition-speed);
		--transition-timing_function: ease-in-out;
		--transition: var(--transition-property) var(--transition-speed) var(--transition-timing_function);
	}
}
