.resizer {
	width: 50%;
	z-index: 1;
}

/* small screens */
@media screen and (max-width: 1024px) {
	.resizer {
		width: 75%;
		height: 50vw;
	}
}

/* tablets */
@media screen and (max-width: 768px) {
}

/* phones */
@media screen and (max-width: 480px) {
	.resizer {
		width: 100%;
		height: 70vw;
	}
}
