.component {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;

	width: 100vw;
	height: 1000vh;

	overflow: hidden;
	z-index: 1;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--medium);

	width: 100%;
	height: 1000%;

	padding: calc(var(--medium) + var(--small));

	z-index: 1;
}

.nav::before {
	content: '';

	position: absolute;
	top: 0;
	right: 0;

	background: var(--accent-50);
	backdrop-filter: var(--blur);

	width: 0vw;
	height: 100vh;

	transition: all 750ms ease-in-out;

	z-index: -1;
}

.visible {
	transform: translateX(0%);
}

.visible::before {
	width: 100vw;
}

.nav_icon {
	cursor: pointer;

	display: flex;

	padding: var(--small);
}

.nav_links {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--medium);

	transform: translateX(calc(100% + var(--large)));

	text-transform: capitalize;

	padding: var(--small);

	transition: all 500ms ease-in-out;
}

.visible .nav_links {
	transform: translateX(0%);
}

.nav_link {
	font-size: 1.25em;
	font-weight: var(--font-weight-bold);
}

.nav_link:hover {
	cursor: pointer;

	opacity: 0.75;
}

.active {
	cursor: default;

	opacity: 0.5;
}

.hidden {
	display: none;
}
