.component {
	display: flex;
	gap: var(--m);

	height: fit-content;
}

.nav {
	display: flex;
	text-transform: capitalize;
	height: fit-content;
}

.nav_icon {
	display: none;
}

.nav_links {
	display: flex;
	gap: var(--m);

	height: fit-content;
}

.nav_link {
	font-weight: var(--font-weight-bold);
	height: fit-content;
}

.nav_link:hover {
	opacity: 0.75;
}

.active {
	cursor: text;
	opacity: 0.5;
}

.active:hover {
	opacity: 0.5;
}

.active::before {
	content: '//';
	margin-right: var(--xxs);
}

/* large screens */
@media screen and (max-width: 1200px) {
}

/* small screens */
@media screen and (max-width: 1024px) {
}

/* tablets */
@media screen and (max-width: 768px) {
	.component {
		flex-direction: column;
		align-items: flex-end;
		gap: var(--l);

		width: 100vw;

		overflow: hidden;
		z-index: 1;
	}

	.nav {
		--height: calc(100vh - var(--header-height));

		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		gap: var(--m);

		height: var(--height);
		max-height: 0px;
		overflow: hidden;

		transition-delay: var(--transition-duration);

		z-index: 1;
	}

	.visible {
		max-height: var(--height);
		transition-delay: 0ms;
	}

	.nav_icon {
		cursor: pointer;
		display: flex;
		z-index: 1;
	}

	.nav_links {
		flex-direction: column;
		align-items: flex-end;

		opacity: 0;
	}

	.visible .nav_links {
		opacity: 1;
		transition-delay: var(--transition-duration);
	}
}

/* phones */
@media screen and (max-width: 480px) {
}
