.frame {
	display: grid;
	grid-template-rows: 48px 1fr;
	gap: 2px;

	border-radius: 12px;

	max-width: 80vw;
	max-height: 70vh;
}

.title_bar {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: linear-gradient(var(--dark-90), var(--dark-90));
	background-position: 88px 0px;
	background-repeat: no-repeat;
	backdrop-filter: blur(var(--blur));

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.16);

	border-top-left-radius: 12px;
	border-top-right-radius: 12px;

	height: 48px;

	padding: 0 18px;
}

.frame_buttons {
	position: absolute;
	left: 0px;

	border-top-left-radius: 12px;
}

.frame_buttons_background {
	fill: var(--dark-90);
}

.title {
	color: var(--light-25);
	font-weight: var(--font-weight-light);
}

.body {
	background: var(--dark-90);
	backdrop-filter: blur(var(--blur));

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.16);

	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;

	overflow: scroll;
}
