.badge_container {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--s);

	text-align: center;

	width: fit-content;
	height: fit-content;
}

.badge_image {
	background-color: transparent;
	border-radius: calc(var(--border-radius) * 1.25);

	border: var(--border);

	box-shadow: var(--shadow);

	width: var(--badge-size);
	height: var(--badge-size);

	padding: var(--xxxs);

	filter: saturate(2);
}
