* {
	font-family: var(--font-family);
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-regular);
	line-height: 1;
}

h1 {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
}

h2 {
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
}

h3 {
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-bold);
}

h4 {
	font-size: var(--font-size-s);
}

h5 {
	font-size: var(--font-size-xs);
}

p {
	line-height: 1.25;
}
