:root {
	/* colors */
	--base-color-light: 0, 0%;
	--base-color-dark: 0, 0%;
	--base-color-accent: 288, 59%, 58%;

	--red: hsl(0, 100%, 43%);
	--green: hsl(120, 100%, 35%);

	/* sizes */
	--base-size: 24px;

	/* fonts */
	--font-family: Avenir, Arial, Helvetica, sans-serif;
	--font-size: 16px;
	--font-weight-light: 300;
	--font-weight-regular: 500;
	--font-weight-bold: 700;
	--font-weight-bolder: 900;

	/* effects */
	--blur: blur(5px);

	/* animations */
	--animation-speed: 500ms;
}
