:root {
	/* colors */
	--base-color-light: 0, 0%;
	--base-color-dark: 0, 0%;
	--base-color-accent: 288, 59%, 58%;

	--red: hsl(0, 100%, 43%);
	--green: hsl(120, 100%, 35%);

	/* sizes */
	--base-size: 24px;

	/* fonts */
	--font-weight: 300;
	--font-weight-bold: 500;

	/* effects */
	--blur: blur(5px);

	/* animations */
	--transition-duration: 500ms;
}
