.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--l);

	padding: var(--m);
}

.main section {
	display: flex;
	flex-direction: column;
	gap: var(--m);

	background: var(--gray-dark);
	border-radius: var(--border-radius);

	width: 100%;

	padding: var(--l);
}

.skills_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--xl);

	width: 100%;
}

.experiences_content {
	display: flex;
}

.experiences_item {
	display: flex;
	flex-direction: column;
	gap: var(--s);
}
